<div class = "border-bottom row" style = 'margin-bottom:16px;padding-bottom:8px;'>
<div class='col-9'>
  <h4 style ='color:rgb(120,120,120); margin-bottom:4px;'>{{job['title']}}
  </h4>
  <div>
  <b>Location: {{job['location']}}</b>
  </div>
  {% if 'salary' in job %}
  <div>
  <b>Salary: {{job['salary']}}</b>
  </div>
</div>
<div class='col-3'>
  {% endif %}
  <a href = "mailto:cyrusn916@gmail.com?subject=application%20for%20{{job['title']}}&body=my%20name%3A%3Cname%3E%0D%0Amy%20resume%20link%3A%3Clink%3E%0D%0Amy%20linkedIn%20link%3A%3Clink%3E"type="button" class="btn btn-outline-primary">Apply</a>
</div>
</div>